* {
    box-sizing: border-box;
    color: #f0f0f0;
    font-family: "Noto Sans", "Noto Sans CJK", "Microsoft YaHei", arial, sans-serif;
    font-size: 18px;
}

body {
    background-color: #222323;
}

hr {
    margin: 10px 0px;
    border: none;
    border-top: 1px dotted #515151;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h2.center {
    text-align: center;
}

h3 {
    font-size: 1.1em;
}

blockquote {
    margin: 5px 2px;
    padding: 0px 6px;
    border-inline-start: 2px solid #787878;
    color: #afafaf;
}

p.tip {
    font-size: 16px;
    margin: 4px 0;
}

p.center {
    text-align: center;
}

.box {
    margin: 8% 20%;
    padding: 5% 5%;
    border: 2px solid #313232;
    border-radius: 15px;
    background-color: #222323;
    /* box-shadow: 0 0px 10px 2px #222323; */
}

.column {
    float: left;
    width: 40%;
    display: table;
    margin: 14px 0px;
    padding: 5px 0px;
}

select {
    width: 30%;
    padding: 6px 5px;
    margin: 15px 0;
    background-color: #4d4d4d;
    color: #ececec;
    border: 2px solid #313232;
    border-radius: 5px;
}

input[type=text] {
    font-size: 18px;
    width: 50%;
    padding: 6px 6px;
    margin: 16px 0;
    background-color: #4d4d4d;
    color: #ececec;
    border: 2px solid #252525;
    border-radius: 5px;
}

input[type="text"]:disabled {
    background: #353535;
    color: #c9c9c9;
}

input[type=range] {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #666;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #0f8bf1;
    border: none;
    color: white;
    padding: 17px 32px;
    text-decoration: none;
    margin: 30px 10px 0px 0px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

.lbtn {
    background-color: #63696d;
    border: none;
    color: white;
    padding: 17px 32px;
    text-decoration: none;
    margin: 15px 10px 0px 0px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

.lbtn:hover {
    background-color: #6f767b;
}

.blue-bg {
    background-color: #0f8bf1;
}

.blue-bg:hover {
    background-color: #2f94e7;
}

.red-bg {
    background-color: #c51b1b;
}

.red-bg:hover {
    background-color: #c53838;
}

.red {
    color: #c53838;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #dfdfdf;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0f8bf1;
    border-radius: 5px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #0f8bf1;
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #848484;
    -webkit-transition: .2s;
    transition: .2s;
    opacity: .9;
}

.btn:hover {
    opacity: 1.0;
}

.btn:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #dddddd;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .btn {
    background-color: #0f8bf1;
}

input:focus + .btn {
    box-shadow: 0 0 1px #0f8bf1;
}

input:checked + .btn:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded btns */
.btn.round {
    border-radius: 18px;
}

.btn.round:before {
    border-radius: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    width: 40%;
}

a {
    color: #66baff;
}

a:hover {
    color: #8ccbff;
}

footer {
    font-size: 14px;
    margin: 0 0;
    padding: 0 0px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d0d0d;
    opacity: 50%;
    color: #f0f0f0;
    text-align: center;
}

@media all and (max-width: 800px) {
    .box {
        margin: 10% 5%;
    }

    input[type=text] {
        width: 90%;
        margin: 4px 0;
    }

    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 h5 {
        font-size: 1em;
    }
}
